/* GLOBAL STYLES */

body {
    background-color: hsl(178,64%,91%);
    color: hsl(0,0%,23%);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

/* HEADER STYLING */

header {
    background-color: #ffffff;
    text-align: center;
}

header img {
    margin-right: 16px;
}

header h1 {
    display: inline-block;
    padding: 40px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: hsl(3,84%,65%);
    text-transform: uppercase;
    margin: 0;
}

/* MAIN SECTION STYLING */

main {
    width: 1000px;
    margin: 0 auto;
}

/* CARD SECTION */

.card {
    margin-top: 15px;
    margin-bottom: 30px;
    overflow:auto;
    clear:both;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}

.recipe {
    float: left;
    padding: 20px;
    height: 550px;
    width: 500px;
    background-color: #ffffff;
    box-sizing: border-box;
}

#cookies .image {
    background: url('/img/gluten-free-sugar-cookies.jpg');
    background-size: cover;
}

#pesto .image {
    background: url('/img/nut-free-pesto.jpg');
    background-size: cover;
}

#salad .image {
    background: url('/img/watermelon-salad.jpg');
    background-size: cover;
}

.recipe h2 {
    color: hsl(3,84%,65%);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 29px;
    margin-top: 0;
}

.time {
    margin-bottom: 20px;
    overflow: auto;
    border: 1px solid hsl(0,0%,23%);
}

.time div {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
    text-transform: uppercase;
    box-sizing: border-box;

}

.time .cook {
    border-left: 1px solid hsl(0,0%,23%);
    border-right: 1px solid hsl(0,0%,23%);;
}

.time img {
    width: 15px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.time-details {
    display: inline-block;
}

.time-details strong {
    font-family: 'Montserrat', sans-serif;
}
