/* GLOBAL STYLES */

body {
    background-color: hsl(178,64%,91%);
    color: hsl(0,0%,23%);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

/* HEADER STYLING */

header {
    background-color: #ffffff;
    text-align: center;
}

header img {
    margin-right: 16px;
}

header h1 {
    display: inline-block;
    padding: 40px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: hsl(3,84%,65%);
    text-transform: uppercase;
    margin: 0;
}

/* MAIN SECTION STYLING */

main {
    width: 1000px;
    margin: 0 auto;
}

/* CARD SECTION */

.card {
    margin-top: 15px;
    margin-bottom: 30px;
    overflow:auto;
    clear:both;
}

.image {
    float: left;
    width: 550px;
    height: 600px;
}

.recipe {
    float: left;
    padding: 20px;
    height: 600px;
    width: 550px;
    background-color: #ffffff;
    box-sizing: border-box;
}

#cookies .image {
    background: url('/img/gluten-free-sugar-cookies.jpg');
    background-size: cover;
}

#pesto .image {
    background: url('/img/nut-free-pesto.jpg');
    background-size: cover;
}

#salad .image {
    background: url('/img/watermelon-salad.jpg');
    background-size: cover;
}